doctype 5
html
  head
    title Y&rsquo;all
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-superhero.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div.container-narrow
      block content
